  $bgColor: #f8f8f8;
  $textColor: #1B1C21;
  $pageColor: #F8F8F8;
  $boxColor: #ffffff;
  $lightBlue: #B8FFEC;
  $blue: #41F6D7;
  $pink: #FF3E79;
  $darkGray: #7E7E82;
  $lightGray: #eaeaea;

  $textSize: 16px;
  $fontFamily: 'TT Lakes';

  $size-xs: 12px;
  $size-s: 16px;
  $size-m: 24px;
  $size-l: 32px;

  $screen-s: 320px;
  $screen-m: 767px;
  $screen-xl: 1119px;
  $screen-full: 1440px;

  $transition: 200ms;
