@import 'base/variables';

.mobile {
  width: 320px;
  background: $boxColor;
  height: 100%;

  @media (min-width: $screen-s) and (max-width: $screen-m) {
    & {
      display: none;
    }

    &__menu {
      box-shadow: 16px 0 52px #0E185033;
      height: 100%;
    }
    &__header, &__footer {
      padding: $size-m $size-s;
      gap: $size-s 0;
    }
    &__footer.lang {
        margin-top: 0;
    }
    &__navigation {
      & .list {
        &__item {
          padding: $size-xs $size-s;
        }
      }
    }
  }

  @media (min-width: $screen-m) and (max-width: $screen-full) {
    & {
      display: none;
    }
    &__menu {
      box-shadow: 16px 0 52px #0E185033;
      height: 100%;
    }
    &__header, &__footer {
      padding: $size-m $size-s;
      gap: $size-s 0;
    }
    &__footer.lang {
        margin-top: 0;
    }
    &__navigation {
      & .list {
        &__item {
          padding: $size-xs $size-s;
        }
      }
    }

  }
  @media (min-width: $screen-full) {

    & {
      display: block;
      position: relative;
      height: auto;
      &__menu {
        min-height: 1024px;
        box-shadow: none;
      }
      &__header, &__footer {
        padding: $size-l $size-m;
        gap: $size-m 0;
      }
      &__footer.lang {
        margin-top: $size-l;
      }
      & .button-close {
        display: none;
      }
      &__navigation {
        & .list {
          &__item {
            padding: $size-s $size-m;
          }
        }
      }
    }
    &.show {
      display: block;
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    &__footer {
      justify-self: end;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo {
      width: 72px;
        img {
          height: 40px;
        }
    }

    & .block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px 16px;
    }
    & .round {
      margin: 0;
    }
  }
  &__navigation {
      display: flex;
      flex: 1 0 auto;
      position: relative;
  }

  .list {
      display: flex;
      flex-flow: column wrap;
      list-style-type: none;
      &__item {
        position: relative;
      }
  }
  .round {
    &:hover {
      opacity: 0.5;
      transition-duration: $transition;
    }
    &:active {
        transform: scale(1.1);
        transition-duration: transition;
    }
  }

  .link {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      text-decoration: none;
      font-weight: 500;
      &:focus {
        color:rgba(126, 126, 130, 0.5);
        transition-duration: 100ms;
      }
      &:hover {
        color:rgba(126, 126, 130, 0.5);
        transition-duration: 100ms;
      }
      &:active {
          color: #41F6D7;
      }
  }

  &__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex: 0 1 auto;
    & .round {
      margin: 0;
    }
    & a {
      font-weight: 500;
      text-decoration: none;
      color: #1B1C21;
    }
    & .buttons {
      display: flex;
      flex-flow: row wrap;
      gap: $size-s;
    }
    & .email {
      line-height: $size-m;
      letter-spacing: -0.2px;
    }
    & .tel > a {
      font-weight: 700;
      font-size: $size-m;
      line-height: $size-l;
      letter-spacing: -0.6px;
    }
    & .lang {
      display: flex;
      flex-flow: row wrap;
      gap: $size-s / 2;
      text-transform: uppercase;
    }
  }

  .button-search {
    background-image: url(../img/icon/modal-search.svg);
  }
  .button-close {
    background-image: url(../img/icon/modal-close.svg);
  }

}

  .mobile--show {
    display: block;
    position: fixed;
    z-index: 3;
    background-color: $boxColor;
  }

 .list__item {
  position: relative;
 }

 .list__item:target::before {
  content: '';
  position: absolute;
  left: 0;
  height: 32px;
  width: 4px;
  border: 1px solid $blue;
  border-radius: 4px;
  background: $blue;
  margin-right: 20px;
  transition-duration: 500ms;
}
