  @import 'base/variables';

  @import 'container.scss';
  @import 'mobile.scss';
  @import 'page.scss';

  @import 'header.scss';
  @import 'main.scss';
  @import 'menu.scss';
  @import 'section.scss';
  @import 'brands.scss';
  @import 'softwares.scss';
  @import 'price.scss';
  @import 'offer.scss';
  @import 'footer.scss';
  @import 'modal-feedback.scss';
  @import 'modal-call.scss';


  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

  @font-face {
      font-family: 'TT Lakes';
      src: url('../fonts/TTLakes-Medium.eot');
      src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  * {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }


  body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Lakes', sans-serif;
    background-color: $bgColor;
    color: $textColor;
    font-size: $textSize;
    background: grey;
    overflow-x: hidden;
  }
